body {
    margin: 0px;
    text-align: center;
}
.mountain {
    position: relative;
    right: 50px;
}
.top-cloud {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    left: 250px ;
}
.bottom-cloud {
    position: relative;
    right: 0px;
    bottom: 300px;
}



.top-container {
    background-color:rgb(206, 241, 242);
}
.middle-container {
    background-color: white;
}
.bottom-container  {
    padding: 30px;
    background-color: #66BFBF;
    font-size: 70%;
}
a.footer-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #66BFBF;
    color :#11999E;
    margin: 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.bottom-container p{
    color: #EAF6F6;
}
p.intro, .outro {
    width: 30%;
    margin: auto;
}

hr {
    margin : 57px auto ;
    height: 2px;
    border-top: 5px #cfe5e5;
    width: 5%;
    border-style: dotted none none none ;
}
.skill-row {
    width: 50%;
    margin: 65px auto ;
}
div.skills div.skill-row {
    text-align: left;
}




h1 {
    color:  #66BFBF;
    margin-top: 50px auto 0px auto;
    font-family: 'Parisienne', cursive;
}

h2 {
    font-weight: normal;
    font-family: 'Alkatra', cursive;
    color:  #66BFBF;
} 
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #11999E;

}



span.design {
    color:rgba(61, 171, 208, 0.823);
}

span.s {
    font-size: 1.6em;
}

.propic, .piccom , .picchi {
    width: 8.5rem;
}
.propic {
    margin-top: 60px;
}
.piccom {
    margin-right: 30px;
    float: left;
}
.picchi {
    float: right;
    margin-left: 30px;

}
.chillidesc {
    text-align: right;
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #40514E;
    line-height: 2;
}

a.btn {
  background: #27b2c2;
  background-image: -webkit-linear-gradient(top, #27b2c2, #2fd2eb);
  background-image: -moz-linear-gradient(top, #27b2c2, #2fd2eb);
  background-image: -ms-linear-gradient(top, #27b2c2, #2fd2eb);
  background-image: -o-linear-gradient(top, #27b2c2, #2fd2eb);
  background-image: linear-gradient(to bottom, #27b2c2, #2fd2eb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin:30px auto 35px auto;
}

.btn:hover {
  background: #135882;
  background-image: -webkit-linear-gradient(top, #135882, #2272a8);
  background-image: -moz-linear-gradient(top, #135882, #2272a8);
  background-image: -ms-linear-gradient(top, #135882, #2272a8);
  background-image: -o-linear-gradient(top, #135882, #2272a8);
  background-image: linear-gradient(to bottom, #135882, #2272a8);
  text-decoration: none;
}
